%h1 Latests links
- if @links.empty? == false
  -@links.each do |link|
    = render :partial => 'layouts/link', locals: {link: link}

  = will_paginate(@links)
  .clear
- else
  .alert.alert-warning Not found