/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap.min
 * require orbit
 * require reset
 * require responsive
 * require style
 * require superfish
*
#header-nav-container .logo {
  font-size: 2em;
  padding: 0.3em;
  width: 200px;
  color: #fff;
  display: inline-block;
  height: 52px;
}

.widget-container .searchform #s {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.categories-edit, .links-edit {
  display: none;
}

.navbar-inverse {
  background-color: #343434!important;
}

ul.post-social li a.saved {

  background-color: #398439;
}

ul.post-social li a.edit {

  background-color: #f0ad4e;
}
*/

body {
    border-top: 2px solid #CC0000;
}


.dropdown-toggle-link {
  background-color: white!important;
}

.dropdown-toggle-link :hover{
  text-decoration: underline!important;
}

.glyphicon {
  color: #3d464d;
}

.container .col-md-10 h3, .container .col-md-10 .table-hover {
  color: #3d464d;
}

.container .col-md-10 .list-link-descliption {
  color: #3d464d;
  font-size: 12px;
}

.pagination {
  width: 100%;
  text-align: center;
}

.pagination span, .pagination a {
  background-color: #fff;
  border-color: #ddd;
  color: #428bca;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-radius: 0.2em;
  padding: 6px 12px;
}

.pagination em {
  padding: 6px 12px;
  background-color: #fff;
  color: #343434;
  border-radius: 0.2em;
  display: inline-block;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination span.gap {
  background:none;
  color: #000;
}

.container .col-md-10 table .record_list_link, .container table .record_list_link  {
    color: #000;
  -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width: 600px;                 /* fixed width */
    display: block;
}

.container .col-md-10 table .record_list_link:hover {
    color: #428bca;
}

.login-icon {
  display: block;
  margin: 8px 0 0 0;
  text-align: right;
}

.add_link_box, .add_category_box {
  display: none;
}

.navbar-nav>li>a {
    color: #000;
}

.navbar-brand {
    color: gray;
}

.menu-link {
    color: #3d464d;
    cursor: pointer;
}

.table-header {
    color: #CC0000;
}

.record-list-edit {
    margin: 0 5px 0 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
