= link_to new_category_path, {:class=>'menu-link', :style => 'float: right'} do
  %span.glyphicon.glyphicon-th-large
  Add new category


%h1.header Categories
.categories
  - if @categories.empty? == false
    %table.table.table-hover
      %tbody
        - @categories.each do |category|
          %tr
            %td
              = link_to category.name, category, {'data-toggle'=>'tooltip', 'data-placement'=>'right', 'title'=>'Amount of links: ' + category.links.count.to_s, 'class' => 'record_list_link'}
            %td{:style=>'text-align:center'}
              = link_to edit_category_path(category), {:class => 'edit record-list-edit', :target => '_blank'} do
                %span.glyphicon.glyphicon-edit
            
              = link_to category, method: :delete, data: { confirm: 'Are you sure?' } do
                %span.glyphicon.glyphicon-remove-circle

    =will_paginate @categories

  - else
    %div.alert.alert-warning 
      Links not found
