= link_to 'Add new link', new_link_path(category: @category.id), role: 'button', style: 'float: right; margin-right: 0.5em', class: 'btn btn-primary'
%br/
%h1
  = @category.name
  .links
    .row.centered
      .col-md-12
        - if @links.empty? == false
          .links-box
            -@links.each do |link|
              = render :partial => 'layouts/link', locals: {link: link}
          = will_paginate @links, renderer: BootstrapPagination::Rails
        - else
          .alert.alert-warning Not found