%a.add_new_link.menu-link{:style=>'float:right'}
  %span.glyphicon.glyphicon-th-large
  Add new link
%h1.header
  %span.link_in
    Links in category:
  = @category.name
= render :partial => 'layouts/links', :locals => {:links => @links}
