-#= link_to 'Add new link', new_link_path(category: @category.id), role: 'button', style: 'float: right; margin-right: 0.5em', class: 'btn btn-primary'
= link_to new_link_path(category: @category.id), {:class=>'menu-link', :style => 'float: right'} do
  %span.glyphicon.glyphicon-th-large
  Add new category
%h1.header
  Links in category:
  = @category.name
= render :partial => 'layouts/links', :locals => {:links => @links}
