-# .row
-#   %a.add_new_link.menu-link
-#     %span.glyphicon.glyphicon-th-large
-#     Add new link
-# .row  
-#   %a.add_new_category.menu-link
-#     %span.glyphicon.glyphicon-th-large
-#     Add category
-# <br />
.row
  = link_to categories_path, {:class=>'categories menu-link'} do
    %span.glyphicon.glyphicon-th-large
    Categories
.row
  = link_to root_path, {:class=>'categories menu-link'} do
    %span.glyphicon.glyphicon-th-large
    Newest links
